body{
    font-size: 13px;
}

a{
    text-decoration: none;
    color: initial;
}

a:hover{
    text-decoration: none;
    color: initial;

}

.page-header div{
    font-size: 11px;
    border-radius: 5px;
    width: 10rem;
}

.display-type-button{
    fill:#aaa;
}

.display-type-button.active{
    fill:#666;
}

.table-action-icon{
    border:1px solid #aaa;
    border-radius: 10px;
}

tr .dropdown-menu{
    padding: 0rem;
}